/*
 *  Usage:
 *
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
 *
 */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  /*
   * Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ }
  .sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
  .sk-cube-grid .sk-cube1 {
    animation-delay: 0.2s;
    -webkit-animation-delay: -0.8s; }
  .sk-cube-grid .sk-cube2 {
    animation-delay: 0.3s;
    -webkit-animation-delay: -0.7s; }
  .sk-cube-grid .sk-cube3 {
    animation-delay: 0.4s;
    -webkit-animation-delay: -0.6s; }
  .sk-cube-grid .sk-cube4 {
    animation-delay: 0.1s;
    -webkit-animation-delay: -0.9s; }
  .sk-cube-grid .sk-cube5 {
    animation-delay: 0.2s;
    -webkit-animation-delay: -0.8s; }
  .sk-cube-grid .sk-cube6 {
    animation-delay: 0.3s;
    -webkit-animation-delay: -0.7s; }
  .sk-cube-grid .sk-cube7 {
    animation-delay: 0s;
    -webkit-animation-delay: 1s; }
  .sk-cube-grid .sk-cube8 {
    animation-delay: 0.1s;
    -webkit-animation-delay: -0.9s; }
  .sk-cube-grid .sk-cube9 {
    animation-delay: 0.2s;
    -webkit-animation-delay: -0.8s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }
