/*
 *  Usage:
 *
      <div class="sk-double-bounce">
        <div class="sk-child sk-double-bounce1"></div>
        <div class="sk-child sk-double-bounce2"></div>
      </div>
 *
 */
@import "../variables";

$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: #333 !default;

$spinkit-double-bounce-width: $spinkit-size;
$spinkit-double-bounce-height: $spinkit-size;
$spinkit-double-bounce-margin: $spinkit-spinner-margin;
$spinkit-double-bounce-background-color: $spinkit-spinner-color;
$spinkit-double-bounce-animation-duration: 2.0s !default;
$spinkit-double-bounce-css-export: true !default;

@keyframes sk-doubleBounce {
  0%, 100% { transform: scale(0) }
  50% { transform: scale(1.0) }
}

@mixin sk-double-bounce-size(
  $width: $spinkit-double-bounce-width,
  $height: $spinkit-double-bounce-height
) {
  width: $width;
  height: $height;
}

@mixin sk-double-bounce-color(
  $color: $spinkit-double-bounce-background-color
) {
  .sk-child {
    background-color: $color;
  }
}

@mixin sk-double-bounce-style(
  $width: $spinkit-double-bounce-width,
  $height: $spinkit-double-bounce-height,
  $color: $spinkit-double-bounce-background-color,
  $margin: $spinkit-double-bounce-margin
) {
  margin: $margin;

  @include sk-double-bounce-size(
    $width: $width,
    $height: $height
  );

  @include sk-double-bounce-color(
    $color: $color
  );
}

@mixin sk-double-bounce(
  $width: $spinkit-double-bounce-width,
  $height: $spinkit-double-bounce-height,
  $color: $spinkit-double-bounce-background-color,
  $margin: $spinkit-double-bounce-margin,
  $duration: $spinkit-double-bounce-animation-duration
) {
  position: relative;

  .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-doubleBounce $duration infinite ease-in-out;
  }

  &2 {
    animation-delay: -$duration / 2;
  }

  @include sk-double-bounce-style(
    $width: $width,
    $height: $height,
    $color: $color,
    $margin: $margin
  );
}

@if ($spinkit-double-bounce-css-export) {
  .sk-double-bounce {
    @include sk-double-bounce;
  }
}
