/*
 *  Usage:
 *
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
 *
 */
@import "../variables";

$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: #333 !default;

$spinkit-wave-child-count: 5 !default;
$spinkit-wave-width: $spinkit-size * 1.25;
$spinkit-wave-height: $spinkit-size;
$spinkit-wave-margin: $spinkit-spinner-margin;
$spinkit-wave-background-color: $spinkit-spinner-color;
$spinkit-wave-animation-duration: 1.2s !default;
$spinkit-wave-animation-delay-range: 0.4s !default;
$spinkit-wave-css-export: true !default;

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% { transform: scaleY(0.4) }
  20% { transform: scaleY(1.0) }
}

@mixin sk-wave (
  $width: $spinkit-wave-width,
  $height: $spinkit-wave-height,
  $color: $spinkit-wave-background-color,
  $margin: $spinkit-wave-margin,
  $duration: $spinkit-wave-animation-duration,
  $delay-range: $spinkit-wave-animation-delay-range,
  $child-count: $spinkit-wave-child-count
) {
  margin: $margin;
  width: $width;
  height: $height;
  text-align: center;
  font-size: 10px;

  .sk-rect {
    background-color: $color;
    height: 100%;
    width: 6px;
    display: inline-block;
    animation: sk-waveStretchDelay $duration infinite ease-in-out;
  }

  @for $i from 1 through $child-count {
    .sk-rect#{$i} { animation-delay: - $duration + $delay-range / ($child-count - 1) * ($i - 1); }
  }
}

@if ($spinkit-wave-css-export) {
  .sk-wave {
    @include sk-wave;
  }
}
