/*
 *  Usage:
 *
 *    <div class="sk-wandering-cubes">
 *      <div class="sk-cube sk-cube1"></div>
 *      <div class="sk-cube sk-cube2"></div>
 *    </div>
 *
 */
@import "../variables";

$cubeDistance: 30px;

.sk-wandering-cubes {
  margin: $spinkit-spinner-margin;
  width: 40px;
  height: 40px;
  position: relative;

  .sk-cube {
    background-color: $spinkit-spinner-color;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
  }

  .sk-cube2 {
    animation-delay: -0.9s;
  }
}

@keyframes sk-wanderingCubeMove {
  25% {
    transform: translateX($cubeDistance) rotate(-90deg) scale(0.5);
  } 50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-179deg);
  } 50.1% {
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-180deg);
  } 75% {
    transform: translateX(0) translateY($cubeDistance) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
  }
}
