/*
 *  Usage:
 *
      <div class="sk-wandering-cubes">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
      </div>
 *
 */
@import "../variables";

$spinkit-wandering-cube-width: $spinkit-size !default;
$spinkit-wandering-cube-height: $spinkit-size !default;
$spinkit-wandering-cube-margin: $spinkit-spinner-margin !default;
$spinkit-wandering-cube-background-color: $spinkit-spinner-color !default;
$spinkit-wandering-cube-animation-duration: 1.8s !default;
$spinkit-wandering-cube-css-export: true !default;

@keyframes sk-wanderingCube {
  $cubeDistance: 30px;
  0% {
    transform: rotate(0deg);
  } 25% {
    transform: translateX($cubeDistance) rotate(-90deg) scale(0.5);
  } 50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-179deg);
  } 50.1% {
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-180deg);
  } 75% {
    transform: translateX(0) translateY($cubeDistance) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
  }
}

@mixin sk-wandering-cube(
  $width: $spinkit-wandering-cube-width,
  $height: $spinkit-wandering-cube-height,
  $color: $spinkit-wandering-cube-background-color,
  $margin: $spinkit-wandering-cube-margin,
  $duration: $spinkit-wandering-cube-animation-duration
) {
  margin: $margin;
  width: $width;
  height: $height;
  position: relative;

  .sk-cube {
    background-color: $color;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-wanderingCube $duration ease-in-out #{-$duration} infinite both;
  }

  .sk-cube2 {
    animation-delay: -$duration / 2;
  }
}

@if ($spinkit-wandering-cube-css-export) {
  .sk-wandering-cubes {
    @include sk-wandering-cube;
  }
}
