/*
 *  Usage:
 *
      <div class="sk sk-wandering-cubes">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
      </div>
 *
 */
@import "../base";

.sk.sk-wandering-cubes {
  $animationDuration: 1.8s;

  position: relative;

  .sk-cube {
    background-color: $sk-spinner-color;
    width: $sk-default-size / 4;
    height: $sk-default-size / 4;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-wanderingCube $animationDuration ease-in-out #{-$animationDuration} infinite both;
  }

  .sk-cube2 {
    animation-delay: -$animationDuration / 2;
  }

  &.sk-xs-width { width: $sk-xs-size / 4; height: $sk-xs-size / 4 }
  &.sk-sm-width { width: $sk-sm-size / 4; height: $sk-sm-size / 4 }
  &.sk-md-width { width: $sk-md-size / 4; height: $sk-md-size / 4 }
  &.sk-lg-width { width: $sk-lg-size / 4; height: $sk-lg-size / 4 }
  &.sk-xl-width { width: $sk-xl-size / 4; height: $sk-xl-size / 4 }
}

@keyframes sk-wanderingCube {
  $cubeDistance: 30px;
  0% {
    transform: rotate(0deg);
  } 25% {
    transform: translateX($cubeDistance) rotate(-90deg) scale(0.5);
  } 50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-179deg);
  } 50.1% {
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-180deg);
  } 75% {
    transform: translateX(0) translateY($cubeDistance) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
  }
}
