/*
 *  Usage:
 *
      <div class="sk-spinner sk-spinner-pulse"></div>
 *
 */
@import "../variables";

$spinkit-pulse-width: $spinkit-size !default;
$spinkit-pulse-height: $spinkit-size !default;
$spinkit-pulse-margin: $spinkit-spinner-margin !default;
$spinkit-pulse-background-color: $spinkit-spinner-color !default;
$spinkit-pulse-animation-duration: 1.0s !default;
$spinkit-pulse-css-export: true !default;

@keyframes sk-pulseScaleOut {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

@mixin sk-pulse(
  $width: $spinkit-pulse-width,
  $height: $spinkit-pulse-height,
  $color: $spinkit-pulse-background-color,
  $margin: $spinkit-pulse-margin,
  $duration: $spinkit-pulse-animation-duration
) {
  width: $width;
  height: $height;
  margin: $margin;
  background-color: $color;
  border-radius: 100%;
  animation: sk-pulseScaleOut $duration infinite ease-in-out;
}

@if ($spinkit-pulse-css-export) {
  .sk-spinner-pulse {
    @include sk-pulse;
  }
}
