/*
 *  Usage:
 *
      <div class="sk-chasing-dots">
        <div class="sk-child sk-dot1"></div>
        <div class="sk-child sk-dot2"></div>
      </div>
 *
 */
@import "../variables";

$spinkit-chasing-dots-width: $spinkit-size !default;
$spinkit-chasing-dots-height: $spinkit-size !default;
$spinkit-chasing-dots-margin: $spinkit-spinner-margin !default;
$spinkit-chasing-dots-background-color: $spinkit-spinner-color !default;
$spinkit-chasing-dots-animation-duration: 2.0s !default;
$spinkit-chasing-dots-css-export: true !default;

@keyframes sk-chasingDotsRotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    transform: scale(0);
  } 50% {
    transform: scale(1.0);
  }
}

@mixin sk-chasing-dots(
  $width: $spinkit-chasing-dots-width,
  $height: $spinkit-chasing-dots-height,
  $color: $spinkit-chasing-dots-background-color,
  $margin: $spinkit-chasing-dots-margin,
  $duration: $spinkit-chasing-dots-animation-duration
) {
  margin: $margin;
  width: $width;
  height: $height;
  position: relative;
  text-align: center;
  animation: sk-chasingDotsRotate $duration infinite linear;

  .sk-child {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: $color;
    border-radius: 100%;
    animation: sk-chasingDotsBounce $duration infinite ease-in-out;
  }

  .sk-dot2 {
    top: auto;
    bottom: 0;
    animation-delay: - $duration/2;
  }
}

@if ($spinkit-chasing-dots-css-export) {
  .sk-chasing-dots {
    @include sk-chasing-dots;
  }
}
