/*
 *  Usage:
 *
 *    <div class="spinner spinner-rotating-plane"></div>
 *
 */

.spinner-rotating-plane {
  &.spinner {
    width: 30px;
    height: 30px;
    background-color: #333;

    margin: 100px auto;
    -webkit-animation: rotatePlane 1.2s infinite ease-in-out;
    animation: rotatePlane 1.2s infinite ease-in-out;
  }
}

@-webkit-keyframes rotatePlane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotatePlane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
