/*
 *  Usage:
 *
 *    <div class="spinner spinner-double-bounce">
 *      <div class="double-bounce1"></div>
 *      <div class="double-bounce2"></div>
 *    </div>
 *
 */

.spinner-double-bounce {
  &.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: $spinkit-spinner-margin;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $spinkit-spinner-color;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    animation: doubleBounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    animation-delay: -1.0s;
  }
}

@keyframes doubleBounce {
  0%, 100% { transform: scale(0.0) }
  50% { transform: scale(1.0) }
}
