/*
 *  Usage:
 *
 *    <div class="spinner spinner-pulse"></div>
 *
 */

.spinner-pulse {
  &.spinner {
    width: 40px;
    height: 40px;
    margin: $spinkit-spinner-margin;
    background-color: $spinkit-spinner-color;

    border-radius: 100%;
    animation: pulseScaleOut 1.0s infinite ease-in-out;
  }
}

@keyframes pulseScaleOut {
  0% {
    transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
